:root {
  --blanco: #e0e0e0;
  --blanco-2: rgba(255,255,255,.2);
  --negro: #181818;
  --negro-5: rgba(0, 0, 0, 0.5);
  --negro-7: rgba(0, 0, 0, 0.75);
  --tipo-titular:'Playfair Display', serif;
  --tipo-principal:'Inter', sans-serif;
}

@media screen and (prefers-color-scheme:light){
  :root {
    --blanco: #181818;
    --blanco-2: rgba(0,0,0,.2);
    --negro: #e0e0e0;
    --negro-5: rgba(255, 255, 255, 0.5);
    --negro-7: rgba(255, 255, 255, 0.75);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
img , figure{
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
;
}
video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
table,tr,td {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}
form, button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: flex;
  color: inherit;
}
body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--negro);
  color: var(--blanco);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.circulos{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 1;
  filter: blur(40px);
  animation:circulo1 50s linear infinite both;
  background-color:cornflowerblue;
}
.circulos .circulo{
 position: absolute;
 width:50%;
 height: 50%;
 animation:circulo1 50s linear infinite both;
}
.circulos .circulo1{
  top:0%;
  left:0%;
}
.circulos .circulo1 .path{
  fill: #09ff00;
}
.circulos .circulo2{
  top:0%;
  right:0%;
}
.circulos .circulo2 .path{
  fill: rgb(252, 5, 5);
}
.circulos .circulo3{
  bottom:0%;
  left:0%;
}
.circulos .circulo3 .path{
  fill: rgb(1, 12, 165);
}
.circulos .circulo4{
  bottom:0%;
  right:0%;
}
.circulos .circulo4 .path{
  fill: rgb(0, 0, 0);
}

.main,.header{
  background: var(--negro-7);
  text-align: center;
  position: relative;
  z-index: 2;
}
.section{
  width: 100%;
  min-height: 100vh;
  padding: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.section .info{
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both ;
}
.section .ul{
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.section .ul .li{
  margin: 0 1em;
}
.section .ul .a{
  border:1px solid rgba(255,255,255,.2);
  border-radius: 5px;
  padding: 1em 1em 1em;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  animation: aparecer1 2s ease 1 backwards;
}
.section .ul>:nth-child(2) .a{
  animation-delay: .2s;
}
.section .ul .a:hover{
  border-color: var(--blanco);
}

.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: var(--blanco);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 -webkit-transition: all .2s;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 -webkit-transform: translateY(-5px);
     -ms-transform: translateY(-5px);
         transform: translateY(-5px);
 -webkit-box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
         box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
 -webkit-transform: translateY(-3px);
     -ms-transform: translateY(-3px);
         transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 -webkit-transition: all .3s;
 transition: all .3s;
}

.btn:hover::after {
 -webkit-transform: scaleX(1.4) scaleY(1.5);
     -ms-transform: scaleX(1.4) scaleY(1.5);
         transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}

.section .h2{
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 5em;
  line-height:1em;
  color:var(--blanco);
  mix-blend-mode: exclusion;
}
.section .h3{
  font-family: var(--tipo-titular);
  font-size: 4.3em;
}
.section .grid{
  width: 90%;
  max-width: 40em;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat( auto-fit , minmax( 15rem , 1fr) );
  gap:1em;
  justify-content: center;
}
.section .article{
  width: 100%;
  min-height: 20vh;
  max-height: 31.25rem ;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}
.section .h4{
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom:0;
  left:0;
  display: flex;
  flex-flow: row wrap ;
  justify-content: center;
  align-items: center;
  color:var(--blanco);
  font-size: 1.8em;
  font-family: var(--tipo-titular);
  font-style: italic;
  opacity: 0;
  transform:translateZ(1) scale(1.5);
  transition: all .5s ease;
}
.section .article:hover .h4{
  opacity: 1;
  transform:translateZ(1) scale(1);
}

/*efeito do card*/

.i{
  width: 20%;
}
.container {
  bottom: 0;
  margin: auto;
  -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
  box-shadow: 0 0 5px #000;
  cursor: pointer;
}
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content:center;
  gap: 5em;
  padding: 1em;
  color: white;
  opacity: 0;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
}
.overlay .a{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 90%;
}
.head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}
.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
  margin-bottom: 2em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content:space-around;
  width: 90%;
}
.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
}
.cart span {
  margin-left: 0.625rem;
}
.container:hover .overlay {
  opacity: 1;
}
.container:hover .overlay .head {
  transform: translateY(0px);
}
.container:hover .overlay hr {
  width: 4.6875rem;
  transition-delay: 0.4s;
}
.container:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.container:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}
.svg{
  width:3em;
  height:3em;
}

/*works*/
.works{
  color:var(--blanco);
  gap: 3.125rem;
}
.works .h2{
  margin: 0 0 1rem;
  color:inherit;
  
}

.tecnologia{
  gap: 50px;
}
.skills{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  gap: 50px;
}

.tecnologia .tec{
  width: 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.tecnologia  .logo-tec{
  width: 100%;
}
.tecnologia .tec .p{
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 1em;
  text-align: left;
  margin: 0 0 0rem;
}

.about .h2{
  margin: 0 0 2rem;
}
.about .p{
  max-width: 40rem;
  margin: 0 0 2rem;
  font-size: 1.1em ;
  text-align: justify;
}
.about .rrss{
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about .li{
  margin: 0 1em;
}
.about .svg{
  width:3em;
  height:3em;
}

.about .svg:hover{
  fill: rgb(0, 0, 0);

}

.footer{
  padding:2em 0;
  text-align: center;
  color:var(--blanco);
  position: relative;
  z-index: 2;
}

@keyframes circulo1{
  from{
    transform:rotate(0deg) scale(2);
  }
  to{
    transform:rotate(360deg) scale(2);
  }
}
@keyframes aparecer1{
  from{
    opacity: 0;
    transform: translateY(50%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 768px){
  .section{
    padding: 1em;
  }
  .section .h2{
    font-size: 2.5em;
  }
  .section .h3{
    font-size: 2em;
  }
  .tecnologia .skills{
    display: flex;
    flex-direction: column;
  }

  .tecnologia .tec{
    width: 30%;
  }
}



.card {
  overflow: visible;
  position: relative;
  width: 24.375rem;
  height: 40rem;
  background: rgba(255, 255, 255, 0.842);
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99;
}

.details {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/*Image*/
.imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.img {
  background: #4158D0;
  background-image: linear-gradient(45deg, #4158D0, #C850C0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Text*/
.title {
  font-weight: 600;
  font-size: 20px;
  color: #777;
}

.caption {
  font-weight: 500;
  font-size: 16px;
  color: #4158D0;
  display: block;
  margin-top: 5px;
}

/*Hover*/
.card:hover .imgbox {
  bottom: 80px;
}

.card:hover:before {
  transform: rotate(20deg);
}

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
}







.flip-card{
  background-color: transparent;
  width: 190px;
  height: 254px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  font-family: sans-serif;
}

.title{
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner{
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
  -webkit-box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
          box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front{
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
   rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back{
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
   bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}