:root {
  --blanco: #e0e0e0;
  --blanco-2: rgba(255,255,255,.2);
  --negro: #181818;
  --negro-5: rgba(0, 0, 0, 0.5);
  --negro-7: rgba(0, 0, 0, 0.75);
  --tipo-titular:'Playfair Display', serif;
  --tipo-principal:'Inter', sans-serif;
}

@media screen and (prefers-color-scheme:light){
  :root {
    --blanco: #181818;
    --blanco-2: rgba(0,0,0,.2);
    --negro: #e0e0e0;
    --negro-5: rgba(255, 255, 255, 0.5);
    --negro-7: rgba(255, 255, 255, 0.75);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
img , figure{
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
;
}
video {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
table,tr,td {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}
form, button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: flex;
  color: inherit;
}
body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  min-height: 100vh;
  background-color: var(--negro);
  color: var(--blanco);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.circulos{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 1;
  filter: blur(40px);
  animation:circulo1 50s linear infinite both;
  background-color:cornflowerblue;
}
.circulos .circulo{
 position: absolute;
 width:50%;
 height: 50%;
 animation:circulo1 50s linear infinite both;
}
.circulos .circulo1{
  top:0%;
  left:0%;
}
.circulos .circulo1 .path{
  fill: #09ff00;
}
.circulos .circulo2{
  top:0%;
  right:0%;
}
.circulos .circulo2 .path{
  fill: rgb(252, 5, 5);
}
.circulos .circulo3{
  bottom:0%;
  left:0%;
}
.circulos .circulo3 .path{
  fill: rgb(1, 12, 165);
}
.circulos .circulo4{
  bottom:0%;
  right:0%;
}
.circulos .circulo4 .path{
  fill: rgb(0, 0, 0);
}
.header{
  width: 100%;
  min-height: 5em;
  background: lightblue;
  padding: 1em 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.header .ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

}
.header .li{
  margin:0 1em;
}
.main{
  background: var(--negro-7);
  margin: 0 0 1em;
  text-align: center;
  position: relative;
  z-index: 2;
}
.section{
  width: 100%;
  min-height: 80vh;
  padding: 2em;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.section .info{
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both ;
}
.section .ul{
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.section .ul .li{
  margin: 0 1em;
}
.section .ul .a{
  border:1px solid rgba(255,255,255,.2);
  border-radius: 5px;
  padding: 1em 1em 1em;
  text-transform: uppercase;
  font-weight: 600;
  transition: all .5s ease;
  animation: aparecer1 2s ease 1 backwards;
}
.section .ul>:nth-child(2) .a{
  animation-delay: .2s;
}
.section .ul .a:hover{
  border-color: var(--blanco);
}
.section .h2{
  font-family: var(--tipo-titular);
  font-weight: 600;
  font-size: 5em;
  line-height:1em;
  color:var(--blanco);
  mix-blend-mode: exclusion;
}
.section .h3{
  font-family: var(--tipo-titular);
  font-size: 4.3em;
}
.section .grid{
  width: 90%;
  max-width: 40em;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat( auto-fit , minmax( 15rem , 1fr) );
  gap:1em;
  justify-content: center;
}
.section .article{
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
}
.section .h4{
  width:100%;
  height: 100%;
  background-color: var(--negro-5);
  backdrop-filter: blur(1rem);
  position: absolute;
  bottom:0;
  left:0;
  display: flex;
  flex-flow: row wrap ;
  justify-content: center;
  align-items: center;
  color:var(--blanco);
  font-size: 1.8em;
  font-family: var(--tipo-titular);
  font-style: italic;
  opacity: 0;
  transform:translateZ(1) scale(1.5);
  transition: all .5s ease;
}
.section .article:hover .h4{
  opacity: 1;
  transform:translateZ(1) scale(1);
}
.works{
  color:var(--blanco);
}
.works .h2{
  margin: 0 0 1rem;
  color:inherit;
  
}

.tecnologia{
  gap: 50px;
}
.tecnologia .skills{
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 50px;
}

.tecnologia .tec{
  width: 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

}
.tecnologia  .logo-tec{
  width: 100%;
}
.tecnologia .tec .p{
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 1em;
  text-align: left;
  margin: 0 0 0rem;
}

.about .h2{
  margin: 0 0 2rem;
}
.about .p{
  max-width: 40rem;
  margin: 0 0 2rem;
  font-size: 1.1em ;
  text-align: left;
}
.about .rrss{
  width:100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about .li{
  margin: 0 1em;
}
.about .svg{
  width:3em;
  height:3em;
}

.about .svg:hover{
  fill: rgb(0, 0, 0);

}

.footer{
  padding:2em 0;
  text-align: center;
  color:var(--blanco);
  position: relative;
  z-index: 2;
}

@keyframes circulo1{
  from{
    transform:rotate(0deg) scale(2);
  }
  to{
    transform:rotate(360deg) scale(2);
  }
}
@keyframes aparecer1{
  from{
    opacity: 0;
    transform: translateY(50%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 768px){
  .tecnologia .skills{
    display: flex;
    flex-direction: column;

  }
}